
#right-2{
    max-width: 40%; 
    border: solid;
    color: black;
    border-radius: 10px; 
    margin-top: 7%; 
}
img {
     width: 600px;
    height: 600px; 
    object-fit: contain;
    margin-top: 7%;
    margin-left: 2%;
    
}
img-left{
    padding: 0;
    margin-top: 7%;
    overflow: hidden;


}
