  .navbar {
    display: flex;
    background-color: #333333;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding:5px 5px; 
    overflow-wrap: normal;
  }
  img{
    border: solid;
    color: #333333;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
   
  }
  
  .logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .brand-logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
  }
  
  .navigation {
    display: flex;
    gap: 20px;
  }

  nav:hover{
  
    border: solid;
    color: #333333;
  }
  
  .nav-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: solid;
    color: #333333;
  }
  
  .nav-link:hover {
    color: var(--primary-color);
    background-color: grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: solid;
    color: #333333;
  }
  