/* Custom CSS for the navigation bar */
.navbar {
  background-color: #1A1A1A; /* Black background */
}

.navbar-brand {
  color:#F5EEDD !important; /* Light blue color for the brand name */
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.nav-link {
  color: #f8f9fa !important; /* Light color for the links */
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color: #7AE2CF !important; /* Light blue color on hover */
}

.navbar-toggler {
  border-color: #7AE2CF; /* Light blue color for the toggler border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28122, 226, 207, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link.active {
  color: #7AE2CF !important; /* Light blue underline for active link */
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Montserrat:wght@300;400;600&display=swap');

.home-container {
  font-family: 'Montserrat', sans-serif;
  color: #F5EEDD;
  background-color: #000000;
  overflow-x: hidden;
}
