<section>
  <main class="container-fluid mb-4 ">
    <div class="row" id="main">
      <div class="col-md-6 d-flex flex-column justify-content-center " id="left-cont">
        <h1 class="" >Welcome to our COOKING CLASS</h1>
        <p class="mt-4 text-lg text-gray-700">Discover the art of cooking with professional chefs</p>
        <button class="btn btn-primary w-50 " routerLink="/register">Apply Now</button>
      </div>
      <div id="right-img" class="col-md-6 d-flex justify-content-center align-items-center">
        <img id="img-1" src="/assets/images/image (1).png" alt="right-img" class="rounded-circle">
      </div>
    </div>



    <div class="row" id="main2" >
      <div  class="col-md-6 d-flex justify-content-center align-items-center">
        <img  id="img-2" src="/assets/images/home2.png" alt="right-img" class="">
      </div>
      <div id="right-2" class="col-md-6 d-flex flex-column justify-content-center "  >
        <h1 class="" >About Us</h1>
        <hr>
        <p class="mt-4 text-lg text-gray-700 pr-6 " >Our Cooking class Hub is an all-in-one platform that connects users with diverse culinary classes tailored to various skill levels and interests. The app offers a wide range of cooking options, from mastering basic cooking techniques and learning international cuisines to specialized classes like baking, vegan cooking, and gourmet recipes. Each class is led by professional chefs and includes comprehensive descriptions, skill prerequisites, and easy enrollment options. Cooking Hub aims to make culinary arts accessible and enjoyable, providing users with personalized guidance to enhance their cooking skills and explore their passion for food.</p>
      </div>

    </div>

  </main>

  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright
      <a class="text-body" routerLink="/home">Cooking Hub</a>
    </div>
  </footer>

  
</section>


